# Py City School District Analysis

In [3]:
import pandas as pd

In [4]:
school_csv = 'Resources/schools_complete.csv'
student_csv = 'Resources/students_complete.csv'

school_data = pd.read_csv(school_csv)
student_data = pd.read_csv(student_csv)

complete_school_data = pd.merge(student_data, school_data, how="left", on="school_name")

District Summary
Calculate the total number of schools

Calculate the total number of students

Calculate the total budget

Calculate the average math score

Calculate the average reading score

Calculate the percentage of students with a passing math score (70 or greater)

Calculate the percentage of students with a passing reading score (70 or greater)

Calculate the percentage of students who passed math and reading (% Overall Passing)

Create a dataframe to hold the above results

Optional: give the displayed data cleaner formatting

In [5]:
complete_school_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
schools = len(school_data.school_name)
students = student_data.student_name.count()
budget = school_data.budget.sum()
avg_math = round(student_data.math_score.mean(), 6)
avg_reading = round(student_data.reading_score.mean(),6)
print(schools, students, budget, avg_math, avg_reading)

15 39170 24649428 78.985371 81.87784

In [7]:
count = 0
for score in student_data.math_score:
    if score >= 70:
        count+=1
pct_pass_math = round((count/students)*100, 6)
pct_pass_math

74.980853

In [8]:
count = 0
for score in student_data.reading_score:
    if score >= 70:
        count+=1
pct_pass_reading = round((count/students)*100, 6)
pct_pass_reading

85.805463

In [9]:
combined_pass = student_data.loc[(student_data['math_score']>=70) & (student_data['reading_score']>=70)]
total_combined = len(combined_pass.student_name)
pct_pass_combined = round((total_combined/students*100),6)
pct_pass_combined

65.172326

In [11]:
district_summary = pd.DataFrame({'Total Schools':[schools],
                                 'Total Students': [students],
                                 'Total Budget': [budget],
                                 'Average Math Score': [avg_math],
                                 'Average Reading Score': [avg_reading],
                                 '% Passing Math': [pct_pass_math],
                                 '% Passing Reading': [pct_pass_reading],
                                 '% Overall Passing': [pct_pass_combined]
                                })
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326